/* font-family: 'League Spartan', sans-serif; */

* {
    margin: 0; 
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
}

html {
    font-family: 'League Spartan';
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    height: 100vh;
}

.topContainer {
    display: flex;
    align-items:flex-end;
    background-image: url("./images/bg-pattern-top-desktop.svg");
    background-size: cover;
    height: 50%;
    width: 1175px;

}

.topSection {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.mainText {
    width: 430px;
}

.mainText h1 {
    color: hsl(300, 43%, 22%);
    font-size: 4rem;
}

.mainText p {
    color: hsl(303, 10%, 53%);
    font-size: 1.5rem;
}

.ratingBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    width: 435px;
    /* margin-top: 10px; */
    background-color: hsl(300, 24%, 96%);
    border-radius: 15px;
}

.reviews {
    margin: 10px 40px;

}

.guru {
    margin: 10px 80px;
}

.bestTech {
    margin: 10px 120px;
}

.starBox {
    display: flex;
    height: 30px;
    width: 120px;
    background-size: 20px;
    }

.star {
    height: 20px;
    width: 20px;
    margin: 5px;
    background-image: url('./images/icon-star.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* BOTTOM SECTION | BOTTOM SECTION | BOTTOM SECTION | BOTTOM SECTION | BOTTOM SECTION */
.bottomContainer {
    display: flex;
    align-items:flex-start;
    background-image: url("./images/bg-pattern-bottom-desktop.svg");
    background-size: cover;
    height: 50%;
    width: 1175px;
}

.bottomSection {
    display: flex;
}

.buyerCard {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    color: hsl(300, 24%, 96%);
    background-color: hsl(300, 43%, 22%);
    width: 350px;
    height: 230px;
    margin: 10px;
    border-radius: 15px;
    
}

.buyerCard img {
    border-radius: 20px;
}

.buyerCard span {
    color: hsl(333, 80%, 67%);
}

.cardStructure {
    display: flex;
}

.colton {
    margin-top: 0px;
}

.irene {
    margin-top: 10px;
}

.anne {
    margin-top: 20px;
}

