/* font-family: 'League Spartan', sans-serif; */

* {
    margin: 0; 
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
}

html {
    font-family: 'League Spartan';
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

.topContainer {
    display: flex;
    align-items:flex-end;
    background-image: url("./images/bg-pattern-top-desktop.svg");
    background-size: cover;
    height: 50%;
    width: 1200px;
}

.topSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mainText {
    width: 40%;
}

.mainText h1 {
    color: hsl(300, 43%, 22%);
    font-size: 4rem;
    font-weight: 700;
}

.mainText p {
    color: hsl(303, 10%, 53%);
    margin: 40px 0px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.ratingsSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ratingBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 55px;
    width: 435px;
    color: hsl(300, 43%, 22%);
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
}

#reviews {
    margin: 40px 80px 0px 0px;

}

#guru {
    margin: 40px 40px 0px 0px;
}

#bestTech {
    margin: 40px 0px 0px 0px;
}

.starBox {
    display: flex;
    height: 30px;
    width: 140px;
    margin-right: 40px;
    align-items: center;
    justify-content: space-around;
    }

.star {
    height: 20px;
    width: 40px;
    background-image: url('./images/icon-star.svg');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

/* BOTTOM SECTION | BOTTOM SECTION | BOTTOM SECTION | BOTTOM SECTION | BOTTOM SECTION */
.bottomContainer {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    background-image: url("./images/bg-pattern-bottom-desktop.svg");
    background-size: cover;
    height: 50%;
    width: 1200px;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buyerCard {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(300, 24%, 96%);
    background-color: hsl(300, 43%, 22%);
    width: 350px;
    height: 230px;
    margin: 10px 0px;
    border-radius: 10px;
    
}

.buyerCard img {
    border-radius: 20px;
    margin: 20px 10px 20px 30px;
}

.buyerCard span {
    color: hsl(333, 80%, 67%);
}

.buyerCard p {
    margin: 20px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: hsl(300, 24%, 96%);
}

.cardStructure {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.colton {
    margin: 0 10px 0 0;
}

.irene {
    margin: 10px 10px 0 0;
}

.anne {
    margin: 20px 0 0 0;
}

/*MOBILE DEVICE | MOBILE DEVICE | MOBILE DEVICE | MOBILE DEVICE | MOBILE DEVICE */
/*MOBILE DEVICE | MOBILE DEVICE | MOBILE DEVICE | MOBILE DEVICE | MOBILE DEVICE */
/*MOBILE DEVICE | MOBILE DEVICE | MOBILE DEVICE | MOBILE DEVICE | MOBILE DEVICE */

@media only screen and (max-width: 1175px) {
    .mainText {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .mainText h1 {
        font-size: 3rem;
    }

    .mainText p {
        font-size: 1.25rem;
        margin: 20px 0px 10px 0px;
    }


    .topContainer {
        width: 325px;
        height: auto;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 15px;

    }

    .bottomContainer {
        width: 325px;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
   }

    .topSection {
        flex-direction: column;
    }
    
    .bottomSection {
        flex-direction: column;
        justify-content: center;
    }

    .ratingsSection {
        width: 100%;
        margin-bottom: 20px;
    }

    .ratingBox {
        height: 75px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
    }

    .starBox {
        margin: 0 0 10px 0;
    }

    #reviews {
        margin: 10px 0;   
    }
    
    #guru {
        margin: 10px 0;
    }
    
    #bestTech {
        margin: 10px 0;
    }

    .buyerCard {
        width: 100%;
    }
}

